%p.in-gold-500.font-18= t('cart.order_summary')
%table.general-summary-table
  %tr
    %td
      %p.font-16= t('cart.subtotal')
    %td
      %p.font-16 €117.69
  %tr
    %td
      %p.font-16= t('cart.coupon')
    %td
      %p.font-16 €0.00
  %tr
    %td
      %strong.font-18= t('cart.total')
    %td
      %strong.font-18 €117.69
