%ul.dropdown-menu
  %li
    %a{href: "#"}= t("filters.newest_first")
  %li
    %a{href: "#"}= t("filters.pop_first")
  %li
    %a{href: "#"}= t("filters.price_h")
  %li
    %a{href: "#"}= t("filters.price_l")
